@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

*{margin: 0;
padding: 0;
box-sizing: border-box;
font: normal lato;
}

.center{
    max-width: 1100;
    padding: 0 2%;
    margin: 0 auto;
}

.clear{clear: both;}

header{
    background-color: #125eaa;
    padding: 8px 0;
}
.logo{
    float:left;
    color: white;
}
.logo h2{
    font-size: 23px;
    font-weight: normal;

}
form.form-login{
    float: right;

}
.form-login .form-element{
    display: inline-block;
    margin-right: 15px;
}
.form-element p{
    color: white;
    font-size: 14px;

}
.form-element imput[type=emeil],
.form-element input[type=passoword]{
    margin-top: 4px;
}

.form-element input[type=submit]{
    cursor: pointer;
    border: 0;
    background-color: #215ad2;
    color: white;
    padding: 3px 5px;
}
